@using Microsoft.AspNetCore.Http;
@model dynamic

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Anasayfa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/anasayfa.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div id="stn" class="col-sm-3">
                <div class="StaticLoggedOutHomePage-communicationContent">
                    <div class="StaticLoggedOutHomePage-communicationItem"><i class="fab fa-twitter" style="color: white; font-size:27px;margin-bottom:6px;margin-top:13px"></i></div>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <div class="StaticLoggedOutHomePage-communicationItem" style="border-radius:25px;padding: 10px;">
                            <span class="Icon">
                                <i class="fas fa-home"></i>
                            </span>Anasayfa
                        </div>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="UserExplore">
                        <div class="StaticLoggedOutHomePage-communicationItem" style="border-radius:25px;padding: 10px;">
                            <span class="Icon">
                                <i class="fas fa-hashtag"></i>
                            </span>Keşfet
                        </div>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="Notifications">
                        <div class="StaticLoggedOutHomePage-communicationItem" style="border-radius:25px;padding: 10px;">
                            <span class="Icon Icon--reply">
                                <i class="far fa-bell"></i>
                            </span>Bildirimler
                        </div>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="Messages">
                        <div class="StaticLoggedOutHomePage-communicationItem" style="border-radius:25px;padding: 10px;">
                            <span class="Icon Icon--reply">
                                <i class="far fa-envelope"></i>
                            </span>Mesajlar
                        </div>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="Profile">
                        <div class="StaticLoggedOutHomePage-communicationItem" style="border-radius:25px;padding: 10px;">
                            <span class="Icon Icon--reply">
                                <i class="far fa-bookmark"></i>
                            </span>Yer İşaretleri
                        </div>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="Profile" >
                        <div class="StaticLoggedOutHomePage-communicationItem" style="border-radius:25px;padding: 10px;">
                            <span class="Icon Icon--reply">
                                <i class="far fa-list-alt"></i>
                            </span>Listeler
                        </div>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="Profile">
                        <div class="StaticLoggedOutHomePage-communicationItem" style="border-radius:25px;padding: 10px;">
                            <span class="Icon Icon--reply">
                                <i class="far fa-user"></i>
                            </span>Profil
                        </div>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="Profile">

                        <div class="StaticLoggedOutHomePage-communicationItem" style="border-radius:25px;padding: 10px;">
                            <span class="Icon Icon--reply">
                                <i class="fas fa-ellipsis-h"></i>
                            </span>Daha Fazla
                        </div>
                    </a>
                        <div class="sign-up-box">
                            <input type="submit" value="Tweetle" id="submit_button" class="signup EdgeButton EdgeButton--primary EdgeButton--large submit">
                        </div>
                </div>

                <div class="container" style="width:220px;margin-top:70rem;margin-left:12rem;" >
                    <a href="#" data-toggle="popover" data-placement="top">
                        <div class="media" id="ppLogout" style="width:220px;margin-left:30px;margin-top:30px;border:none !important;border-radius:25px;">
                            <img src="~/images/@ViewBag.ProfilePicture" alt="john doe" class="mr-3 mt-3 rounded-circle" style="width:40px;">
                            <div class="media-body" style="width:60px;margin-top:10px;">
                                <h4 style="font-size:15px;font-weight:700;line-height:20px;color:white">@ViewBag.UserName</h4>
                                <p style="font-size:15px;font-weight:400;line-height:20px;color:#8899a6">@ViewBag.UserName</p>
                            </div>
                            <i class="fa fa-angle-down" aria-hidden="true" style="font-size:15px;color:white;margin-right:10px;margin-top:25px;"></i>
                        </div>

                    </a>
                </div>
                <ul class="list-group custom-popover" id="popover-content" style="display: none;background-color: #15202B !important;padding:0 !important;">
                    <li class="list-group-item" style="border:none !important;padding:0;"><a id="out_things" asp-controller="Home" asp-action="Logout">@ViewBag.UserName hesabından çık</a></li>
                </ul>

            </div>

            @RenderBody()


            <div id="stn" class="col-sm-4">
                <div class="row">
                    <div class="input-group">
                        <input style="border:none !important;height:40px;width: 33rem;margin-top: 8px;margin-left: 10px;background-color: #253341;font-size: 15px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" placeholder="Twitter'da Ara" type="text" class="form-control-nav" id="search" aria-describedby="search1">
                    </div>
                </div>
                <div id="right-pnl" class="panel panel-default panel-custom">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="color:white;">
                            <strong>İlgini çekebilecek gündemler</strong>
                            <!-- <small><a href="#">Refresh</a> ● <a href="#">View all</a></small> -->
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-body" id="ilgi">
                                <p style="font-size: 13px;">Türkiye tarihinde gündemde</p>
                                <h4 class="media-heading">#DolarınSaltanatıYıkılıyor</h4>
                                <p style="font-size: 15px;">Gündem konusu: Dolar 7.15, #DolarTL</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body" id="ilgi">
                                <p style="font-size: 13px;">Türkiye tarihinde gündemde</p>
                                <h4 class="media-heading">#TemmuzlarBizimdir</h4>
                                <p style="font-size: 15px;">1.730 Tweet</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body" id="ilgi">
                                <p style="font-size: 13px;">Türkiye tarihinde gündemde</p>
                                <h4 class="media-heading">#ÇaycıHüseyin</h4>
                                <p style="font-size: 15px;">Gündem konusu: Galatasaray, #süperlig</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body" id="ilgi">
                                <p style="font-size: 13px;">Türkiye tarihinde gündemde</p>
                                <h4 class="media-heading">16 Temmuz'da</h4>
                                <p style="font-size: 15px;">Gündem konusu: Hüseyin İnan</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body" id="ilgi">
                                <p style="font-size: 13px;">Türkiye tarihinde gündemde</p>
                                <h4 class="media-heading">Fatih Tezcan</h4>
                                <p style="font-size: 15px;">Gündem konusu: Dolar 7.15, #DolarTL</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a style="font-size: 15px;" href="www.google.it">
                            Daha Fazla Göster
                        </a>
                    </div>
                </div>
                <div id="right-pnl" class="panel panel-default panel-custom">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="color:white;">
                            <strong>Kimi takip etmeli</strong>
                            <!-- <small><a href="#">Refresh</a> ● <a href="#">View all</a></small> -->
                        </h3>
                    </div>
                    <div class="panel-body">
                        @foreach (var item in @ViewBag.Users)
                        {
                            <div class="media kullanici">
                                <div class="media-left">
                                    <img src="~/images/@item.ProfilePicture" alt="john doe" class="rounded-circle" style="width:40px;">
                                </div>
                                <div class="media-body">
                                    <div>
                                        <h4 class="media-heading">@item.Name</h4>
                                        <p id="uId">@item.UserName</p>
                                    </div>

                                    <a data-userid="@item.UserID" type="submit" style="float:right !important;margin-top:-35px;" href="#" class="btn btn-default btn-xs btnFollowID">
                                        Takip Et
                                    </a>

                                </div>
                            </div>
                        }
                    </div>
                    <div class="panel-footer">
                        <a style="font-size: 15px;" href="www.google.it">
                            Daha Fazla Göster
                        </a>
                    </div>
                </div>
                <div class="well well-sm">
                    <ul class="list-inline">
                        <li><a href="#">Şartlar</a></li>
                        <li><a href="#">Gizlilik Politikası</a></li>
                        <li><a href="#">Çerezler</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Reklam Bilgisi</a></li>
                        <li><a href="#">Daha Fazla</a></li>
                        <li>© 2020 Twitter,Inc.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


</body>
</html>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            html: true,
            content: function () {
                return $('#popover-content').html();
            }
        });

    });

    $(function () {
        $(".btnFollowID").click(function () {
        var followId = $(this).data("userid");
        $.ajax({
            method: "post",
            url: "/Home/Follower",
            data: { fId: followId }
        }).done(function (data){
            //takip etme işlemi bittiğinde yapılacak işlemler
            $(this).remove();
        })

        });

    });

</script>


